@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --primary-color: rgb(255, 114, 53);
    --secondary-color: rgb(61, 213, 255);

    --background-color: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));

    --button-color: rgb(62, 62, 62);

    --hero-color: rgba(0, 0, 0, 0.468);

    --color-text-primary: #ffffff;

    --color-background-light: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
  }

html {
    font-family: 'Nunito', sans-serif;
}

body{
    background: var(--background-color);
    background-attachment: fixed;

    height: 100vh;
    width: 80vw;

    overflow-x: hidden;

    color: var(--color-text-primary);

    margin: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container {
    display: flex;

    flex-wrap: nowrap;
    flex-direction: row;

    width: 100%;

    justify-content: center;
    align-content: center;
}


#call-me
{
    position:fixed;

    right:1rem;
    bottom: 0;

    width:1.25rem;
    height:1.25rem;

    margin: 1rem;
    padding: 1.25rem;

    border-radius: 2rem;

    justify-content: center;
    align-content: center;

    background-color: var(--button-color);

    z-index: 99;
}

#email-me
{
    position:fixed;

    right:1rem;
    bottom: 4rem;

    width:1.25rem;
    height:1.25rem;

    margin: 1rem;
    padding: 1.25rem;

    border-radius: 2rem;

    justify-content: center;
    align-content: center;

    background-color: var(--button-color);

    z-index: 99;
}

#call-me i{
    position: relative;
    font-size: x-large;
    text-align: center;
    left:-1px;
    top:-1px;
    color: var(--color-text-primary);
}
#email-me i{
    position: relative;
    font-size: x-large;
    text-align: center;
    left:-1px;
    top:-1px;
    color: var(--color-text-primary);
}

a{
    text-decoration: none;
    text-align: center;
    color: var(--color-text-primary);
    font-weight: bold;
    white-space: nowrap;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    #nav
    {
        height: fit-content;
    }
    #logo
    {
        width: 100%;
        height: 5rem;
        background-image: url('../images/NWAV-Dark\ \(2\).png');
        background-size: contain;
        background-position: 5% 0%;
        background-repeat: no-repeat;
    }
}