@import url("common.css");

#hero {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  margin: auto;

  border-radius: 2rem;
}

#hero img {
  width: 60%;
  height: auto;
}

#hero hr {
  width: 60%;
  margin-bottom: 3rem;
}

#hero div {
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 60%;
  height:min-content;
}

#hero div p {
  padding: 5px 1rem;
  text-align: center;
}

#hero div a {
  background-color: var(--button-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

/*********************************************************
------------------------- cards --------------------------
*********************************************************/

#cards-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: calc(100% + 2rem);
  height: max-content;

  margin: 2rem auto;
}

.card {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: auto;

  padding: 1rem;

  border-radius: 2rem;
}
.card h3 {
  padding: 1rem;
}
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 1rem 1rem;
}
.card a {
  background-color: var(--button-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin-top: auto;
  width: 50%;
}

#security-card {
  margin-right: 1rem;
}
#audio-card {
  margin: 0 1rem;
}
#video-card {
  margin-left: 1rem;
}

/*********************************************************
---------------------- FEATURED -------------------------
*********************************************************/

#featured {
  width: 100%;
  height: max-content;
  margin: auto;

  border-radius: 2rem;
  padding: 1rem;

  text-align: center;
}

/*********************************************************
---------------------- testimonialS ----------------------
*********************************************************/

#testimonials {
  width: 100%;
  height: max-content;
  margin: 3rem auto;

  border-radius: 2rem;
  padding: 1rem;

  display: flex;

  flex-direction: column;
}

#theader {
  width: max-content;
  align-self: center;
}

#testimonials h3 {
  text-align: center;
  padding: 5px;
}

.testimonial {
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.testimonial.left {
  flex-direction: row;
}

.testimonial.right {
  flex-direction: row-reverse;
}

.testimonial .container {
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  width: 40%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.testimonial .container h3 {
  padding: 1rem;
}

.testimonial .container i {
  width: 5rem;
  height: 5rem;
  margin: auto;
}

.testimonial p {
  width: 60%;
}

/*********************************************************
------------------------ SECURITY ------------------------
*********************************************************/
.security-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 1rem;
  padding-bottom: 10rem;
  margin: auto;
  align-items: center;
}
.security-section h3 {
  text-align: center;
}

.security-section hr {
  width: 80%;
}

.security-section .container div
{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.security-section p:first-of-type {
  text-align: center;
}
.security-section p {
  padding: 1rem;
  width: 80%;
}

.security-section div p {
  width: auto;
  text-align: left;
  padding:1rem;
  margin: 1rem;
}

.security-section img {
  align-self: center;
  display: inline-flex;
  max-width: 40%;
  width: auto;
  height: 100%;
  padding:1rem;
  margin: 1rem;
  border-radius: 2rem;
}

/*OVERRIDE*/
.security-section div p:first-of-type {
  text-align: left;
}

.security-section a {
  background-color: var(--button-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  width: max-content;
}

/*********************************************************
------------------------ AUDIO ------------------------
*********************************************************/
.audio-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 1rem;
  padding-bottom: 10rem;
  margin: auto;
  align-items: center;
}
.audio-section h3 {
  text-align: center;
}

.audio-section hr {
  width: 80%;
}

.audio-section p:first-of-type {
  text-align: center;
}
.audio-section p {
  padding: 1rem;
  width: 80%;
}

.audio-section .container div
{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.audio-section div p {
  width: auto;
  text-align: left;
  padding:1rem;
  margin: 1rem;
}

.audio-section img {
  align-self: center;
  display: inline-flex;
  max-width: 40%;
  width: auto;
  height: 100%;
  padding:1rem;
  margin: 1rem;
  border-radius: 2rem;
}

/*OVERRIDE*/
.audio-section div p:first-of-type {
  text-align: left;
}

.audio-section a {
  background-color: var(--button-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  width: max-content;
}

/*********************************************************
------------------------ AUDIO ------------------------
*********************************************************/
.video-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 1rem;
  padding-bottom: 10rem;
  margin: auto;
  align-items: center;
}
.video-section h3 {
  text-align: center;
}

.video-section hr {
  width: 80%;
}

.video-section p:first-of-type {
  text-align: center;
}
.video-section p {
  padding: 1rem;
  width: 80%;
}

.video-section .container div
{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.video-section div p {
  width: auto;
  text-align: left;
  padding:1rem;
  margin: 1rem;
}

.video-section img {
  align-self: center;
  display: inline-flex;
  max-width: 40%;
  width: auto;
  height: 100%;
  padding:1rem;
  margin: 1rem;
  border-radius: 2rem;
}

/*OVERRIDE*/
.video-section div p:first-of-type {
  text-align: left;
}

.video-section a {
  background-color: var(--button-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  width: max-content;
}

/*********************************************************
------------------------- MOBILE -------------------------
*********************************************************/

@media only screen and (max-width: 1050px) 
{
  #hero div {
    flex-direction: column;
    width:60%;
  }
  #hero hr {
    margin-bottom: 1rem;
  }
  #hero div p {
    margin-bottom: 1rem;
  }

  #cards-container {
    flex-direction: column;
  }

  .card {
    margin: 1rem auto;
    padding: 1rem 0 1rem 0;
  }

  .card img {
    width: 80%;
  }

  #security-card {
    margin: 0 0 1rem 0;
  }
  #audio-card {
    margin: 1rem 0 1rem 0;
  }
  #video-card {
    margin: 1rem 0 0 0;
  }

  .security-section .container
  {
    flex-direction: column;
  }

  .security-section img {
    align-self: center;
    display: inline-flex;
    max-width: 60%;
    width: auto;
    height: 100%;
    padding:1rem;
    margin: 1rem;
  }

  .audio-section .container
  {
    flex-direction: column;
  }

  .audio-section img 
  {
    align-self: center;
    display: inline-flex;
    max-width: 60%;
    width: auto;
    height: 100%;
    padding:1rem;
    margin: 1rem;
  }

  .video-section .container
  {
    flex-direction: column;
  }

  .video-section img 
  {
    align-self: center;
    display: inline-flex;
    max-width: 60%;
    width: auto;
    height: 100%;
    padding:1rem;
    margin: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  #hero div {
    flex-direction: column;
    width:100%;
  }
  #hero hr {
    width: 60%;
    margin: 1rem;
  }
  #hero div p {
    padding: 1rem;
  }

  .testimonial,
  .testimonial.left,
  .testimonial.right {
    flex-direction: column;
  }

  .testimonial .container,
  .testimonial p {
    width: 100%;
    text-align: center;
  }

  .security-section img {
    align-self: center;
    display: inline-flex;
    max-width: 100%;
    width: auto;
    height: 100%;
    padding:1rem;
    margin: 1rem;
  }

  .audio-section img {
    align-self: center;
    display: inline-flex;
    max-width: 100%;
    width: auto;
    height: 100%;
    padding:1rem;
    margin: 1rem;
  }

  .video-section img {
    align-self: center;
    display: inline-flex;
    max-width: 100%;
    width: auto;
    height: 100%;
    padding:1rem;
    margin: 1rem;
  }
}